/* Catppuccin colors */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
	all: unset;
	font-size: 12px;
	font-family: "JetBrainsMono Nerd Font";
	transition: 200ms;
}

scale trough {
	margin: 0rem 1rem;
	min-height: 5px;
	min-width: 50px;
}

trough slider {
	margin: -10px;
	transition: all 0.2s ease;
	background-color: @blue;
}

/* notifications */

.notification-background {
	background: @base;
	color: @text;
	padding: 0;
	border: 2px solid @mauve;
}

.notification-background .notification {
	padding: 7px;
}

.notification .notification-content {
	margin: 7px;
}

.notification .notification-content overlay {
	/* icons */
	margin: 4px;
}

.notification-content .summary {
	color: @text;
}

.notification-content .time {
	color: @subtext0;
}

.notification-content .body {
	color: @subtext1;
}

.notification-background .close-button {
	margin: 7px;
	padding: 2px;
	color: @base;
	background-color: @red;
}

.notification-background .close-button:hover {
	background-color: @maroon;
}

.notification-background .close-button:active {
	background-color: @pink;
}

.notification .notification-action {
	color: @text;
	margin: 4px;
	padding: 8px;
	font-size: 0.2rem;
	/* controls the button size not text size*/
}

.notification .notification-action {
	background-color: @surface0;
}

.notification .notification-action:hover {
	background-color: @surface1;
}

.notification .notification-action:active {
	background-color: @surface2;
}

.notification.critical progress {
	background-color: @red;
}

.notification.low progress,
.notification.normal progress {
	background-color: @blue;
}

.notification progress,
.notification trough,
.notification progressbar {
	padding: 3px 0;
}

/* control center */

.control-center {
	background-color: @base;
	color: @text;
	padding: 2px;
}

.control-center .notification-background {
	margin: 4px 10px;
}


.control-center .notification-background .notification.low {
	opacity: 0.8;
}

.control-center .widget-title button {
	background-color: @surface0;
	padding: 8px;
}

.control-center .widget-title button:hover {
	background-color: @surface1;
}

.control-center .widget-title button:active {
	background-color: @surface2;
}

.control-center .notification-group {
	margin-top: 10px;
}

.control-center .notification-group:focus .notification-background {
	background-color: @surface0;
}

scrollbar slider {
	margin: -3px;
	opacity: 0.8;
}

scrollbar trough {
	margin: 2px 0;
}

/* dnd */

.widget-dnd {
	margin-top: 5px;
	font-size: 1.1rem;
}

.widget-dnd>switch {
	font-size: initial;
	background: @surface0;
}

.widget-dnd>switch:checked {
	background: @blue;
}

.widget-dnd>switch slider {
	background: @surface1;
}

/* mpris */

.widget-mpris-player {
	background: @surface0;
	color: #cdd6f4;
}

.mpris-overlay {
	background-color: @surface0;
	opacity: 0.9;
	padding: 15px 10px;
}

.widget-mpris-album-art {
	-gtk-icon-size: 100px;
	margin: 0 10px;
}

.widget-mpris-title {
	font-size: 1.2rem;
	color: @text;
}

.widget-mpris-subtitle {
	font-size: 1rem;
	color: @subtext1;
}

.widget-mpris button {
	color: @text;
	margin: 0 5px;
	padding: 2px;
}

.widget-mpris button image {
	-gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
	background-color: @surface0;
}

.widget-mpris button:active {
	background-color: @surface1;
}

.widget-mpris button:disabled {
	opacity: 0.5;
}

.widget-menubar>box>.menu-button-bar>button>label {
	font-size: rrem;
	padding: 0.5rem 2rem;
}

.widget-menubar>box>.menu-button-bar> :last-child {
	color: @red;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
	background: @surface0;
}

.control-center .widget-label>label {
	color: @text;
	font-size: 2rem;
}

/* Volume widget */
.widget-volume {
	padding: 1rem 0;
}

.widget-volume label {
	color: @sapphire;
	padding: 0 1rem;
}

.widget-volume trough highlight {
	background: @sapphire;
}

/* Backlight widget */
.widget-backlight {
	padding: 1rem 0;
}

.widget-backlight trough highlight {
	background: @yellow;
}

.widget-backlight label {
	color: @yellow;
	padding: 0 1rem;
}

/* Volume widget */
.widget-volume {
	padding: 1rem 0;
}

.widget-volume label {
	color: @sapphire;
	padding: 0 1rem;
}

.widget-volume trough highlight {
	background: @sapphire;
}

/* Backlight widget */
.widget-backlight {
	padding: 1rem 0;
}

.widget-backlight trough highlight {
	background: @yellow;
}

.widget-backlight label {
	color: @yellow;
	padding: 0 1rem;
}

.widget-buttons-grid {
	padding-top: 1rem;
	margin: 2px;
}

/* Reduce horizontal gap between buttons in the grid */
.widget-buttons-grid>flowbox {
	/* flowbox child spacing */
	padding: 0;
}

.widget-buttons-grid>flowbox>flowboxchild {
	margin: 2px 4px;
	/* vertical 2px, horizontal 4px (adjust lower if needed) */
}

.widget-buttons-grid>flowbox>flowboxchild>button {
	padding: 4px 6px;
	/* controls button “size” */
	margin: 0;
	/* remove extra outer space */
}
