@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @base;
    color: @text;
}

#workspaces button {
    padding: 0 6px;
    color: @sapphire;
    background: transparent;
}
#workspaces button.active {
    color: @sapphire;
    border-bottom: 3px solid @mauve;
}
#workspaces button.hidden {
    color: @text;
}
#workspaces button.hidden.active {
    color: @teal;
    border-bottom: 3px solid @mauve;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    border-bottom: 3px solid @text;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 6px;
    color: @white;
}

#custom-sep {
    color: @text;
}

#clock {
    color: @text;
}

#battery {
    color: @green;
}

#disk {
    color: @yellow;
}

#memory {
    color: @mauve;
}

#cpu {
    color: @maroon;
}

#network {
    color: @lavender;
}

#network.disconnected {
    background-color: @red;
}

#tray {
    background-color: @base;
}
