/* Catppuccin colors */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: "JetBrainsMono NF", monospace;
    font-size: 15px;
	background-color: @base;
}

window#waybar {
    color: @text;
}

#workspaces button {
    padding: 0 6px;
    color: @text;
	font-weight: bold;
}
#workspaces button.active {
    color: @text;
}
#workspaces button.hidden {
    color: @overlay0;
	font-weight: normal;
}

button:hover {
    background: inherit;
}

#custom-logo {
	font-size: 6px;
    background-image: url('/home/victor/.config/mango/waybar/assets/MT-logo-catppuccin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	padding: 2px 10px;
	background-origin: content-box;
}

.modules-left {
	padding-left: 5px;
}
.modules-right {
	padding-right: 5px;
}

#clock,
#custom-sep,
#battery,
#network,
#wireplumber,
#tray {
    padding: 0 10px;
    color: @text;
}

#custom-sep {
    color: @text;
}

#clock {
    color: @text;
}

#backlight {
	font-size: 18px;
	padding-left: 15px;
	padding-right: 5px;
}

#battery {
    color: @green;
	padding-left: 20px;
}

#network {
    color: @lavender;
}

#network.disconnected {
    color: @red;
}
